@charset "UTF-8";

h1 {
    font-size: 1.333em;
    font-family: 'ArialNormal';
    font-weight:bold;
}

h2 {
    font-size : 1.167em;
    font-family: 'ArialNormal';
    font-weight: bold;
}

body {
    font-size : 0.9em;
    font-family: 'ArialNormal';
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 80px;
}

p {
    font-size : 1em;
    font-family: 'ArialNormal';
}

td.beskrivelse, td.description {
    font-size : 1em;
    font-family: 'ArialNormal';
    font-weight: bold;
}
img.logo {
    width: 115px;
    height: 70px;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80%;
    margin-right: auto;
}

table {
    font-size : 1em;
    font-family: 'ArialNormal';
    margin-bottom: 10px;
}
