name: Deploy api-alerts to prod-gcp
on:
  workflow_dispatch:
  push:
    branches:
      - release
    paths:
      - '.nais/alert/alerts-prod.yml'
      - '**/api-alerts-prod-deploy.yml'
jobs:
  apply-alerts:
    name: Apply alerts to cluster
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: deploy to prod-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/alert/alerts-prod.yml
