name: Deploy api-alerts to prod-gcp
on:
  push:
    branches:
      - release
    paths:
      - '.nais/alert/alerts-prod.yml'
      - '.nais/alert/statusportal-webhook-prod.yml'
jobs:
  apply-alerts:
    name: Apply alerts to cluster
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: deploy to prod-gcp
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/alert/alerts-prod.yml
      - name: deploy statusportal-webhook to prod
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/alert/statusportal-webhook-prod.yml
